<p><strong>Olá!</strong></p>
<p>Você solicitou uma recuperação de senha e estamos te enviando o código necessário para redefini-la, confira abaixo:</p>
<h1>{{ code }}</h1>
<p><small>Observação: O código tem validade de {{ minutes }} minutos.</small></p>
