<p><strong>Olá!</strong></p>
<p>Ficamos felizes em saber que deseja fazer parte do grupo Chat API.</p>
<p>Mas, primeiramente, precisamos confirmar e validar o seu email. Insira o código abaixo no aplicativo para finalizar o seu cadastro.</p>
<h1>{{ code }}</h1>
<p><small>Observação: O código tem validade de {{ minutes }} minutos, então não perca tempo!</small></p>
